In [220]:
import numpy as np
import pandas as pd

In [221]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [222]:
train

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
5,6,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,tt0093743,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,...,8/6/87,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pinocchio and the Emperor of the Night,NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...",3261638
6,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.thepossessionmovie.com/,tt0431021,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,...,8/30/12,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear The Demon That Doesn't Fear God,The Possession,NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",85446075
7,8,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt0391024,en,Control Room,A chronicle which provides a rare window into ...,1.949044,...,1/15/04,84.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Different channels. Different truths.,Control Room,"[{'id': 917, 'name': 'journalism'}, {'id': 163...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...",2586511
8,9,"[{'id': 256377, 'name': 'The Muppet Collection...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0117110,en,Muppet Treasure Island,After telling the story of Flint's last journe...,6.902423,...,2/16/96,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Set sail for Muppet mayhem!,Muppet Treasure Island,"[{'id': 2041, 'name': 'island'}, {'id': 4418, ...","[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...",34327391
9,10,NaN,6000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,tt0310281,en,A Mighty Wind,"In ""A Mighty Wind"", director Christopher Guest...",4.672036,...,4/16/03,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Back together for the first time, again.",A Mighty Wind,"[{'id': 11800, 'name': 'mockumentary'}, {'id':...","[{'cast_id': 24, 'character': 'Jonathan Steinb...","[{'credit_id': '52fe45609251416c750545b3', 'de...",18750246
10,11,"[{'id': 1575, 'name': 'Rocky Collection', 'pos...",1000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,...,11/21/76,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His whole life was a million-to-one shot.,Rocky,"[{'id': 240, 'name': 'underdog'}, {'id': 276, ...","[{'cast_id': 16, 'character': 'Rocky Balboa', ...","[{'credit_id': '579948e9c3a36874e9007b0b', 'de...",117235147
11,12,"[{'id': 48190, 'name': 'Revenge of the Nerds C...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0093857,en,Revenge of the Nerds II: Nerds in Paradise,The members of the Lambda Lambda Lambda frater...,10.543750,...,7/10/87,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're Back!,Revenge of the Nerds II: Nerds in Paradise,"[{'id': 5801, 'name': 'nerd'}, {'id': 6876, 'n...","[{'cast_id': 2, 'character': 'Lewis Skolnick',...","[{'credit_id': '52fe46f49251416c750891e9', 'de...",22642033
12,13,NaN,15000000,"[{'id': 18, 'name': 'Drama'}]",http://www.dreamworks.com/ab/,tt0169547,en,American Beauty,"Lester Burnham, a depressed suburban father in...",20.726578,...,9/15/99,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Look closer.,American Beauty,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'cast_id': 6, 'character': 'Lester Burnham',...","[{'credit_id': '52fe420ec3a36847f80007c5', 'de...",356296601
13,14,"[{'id': 91698, 'name': 'Chili Palmer Collectio...",53000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,tt0377471,en,Be Cool,"Disenchanted with the movie industry, Chili Pa...",13.314233,...,3/4/05,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Everyone is looking for the next big hit,Be Cool,"[{'id': 3605, 'name': 'baseball bat'}, {'id': ...","[{'cast_id': 4, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe43cbc3a36847f807039f', 'de...",95226116
14,15,NaN,102000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0181689,en,Minority Report,John Anderton is a top 'Precrime' cop in the l...,20.666063,...,6/20/02,145.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The system is perfect until it comes after you.,Minority Report,"[{'id': 476, 'name': 'self-fulfilling prophecy...","[{'cast_id': 5, 'character': 'Chief John Ander...","[{'credit_id': '52fe4223c3a36847f8006f3d', 'de...",358372926
15,16,NaN,500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://skinningmovie.com/synopsis.htm,tt1129437,sr,Šišanje,Novica is a mathematics champion in a Belgrade...,1.018477,...,10/6/10,97.0,"[{'iso_639_1': 'sr', 'name': 'Srpski'}]",Released,Life is sometimes rude game: one mistake can b...,Skinning,"[{'id': 379, 'name': 'skinhead'}, {'id': 7492,...","[{'cast_id': 1001, 'character': 'Novica', 'cre...","[{'credit_id': '52fe4927c3a36847f818bb5f', 'de...",198
16,17,NaN,26000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt0421239,en,Red Eye,After attending the funeral of her grandmother...,6.336927,...,8/4/05,85.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Fear takes flight.,Red Eye,"[{'id': 1562, 'name': 'hostage'}, {'id': 2250,...","[{'cast_id': 1, 'character': 'Lisa Reisert', '...","[{'credit_id': '52fe44449251416c7502eb99', 'de...",57891803
17,18,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt1700845,en,The Invisible Woman,"In 1857, at the height of his fame and fortune...",4.183558,...,12/25/13,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His greatest story was the one he could never ...,The Invisible Woman,"[{'id': 5565, 'name': 'biography'}, {'id': 180...","[{'cast_id': 7, 'character': 'Charles Dickens'...","[{'credit_id': '53b94a260e0a2676c7009b37', 'de...",1234254
18,19,NaN,8000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt1487118,en,Chalet Girl,While working a job at an exclusive ski resort...,6.496259,...,2/2/11,96.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,How to marry a billionaire.,Chalet Girl,"[{'id': 271, 'name': 'competition'}, {'id': 35...","[{'cast_id': 2, 'character': 'Kim Matthews', '...","[{'credit_id': '52fe495ac3a36847f8195d4d', 'de...",1749457
19,20,"[{'id': 9518, 'name': 'The Transporter Collect...",32000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0388482,en,Transporter 2,Professional driver Frank Martin is living in ...,11.359659,...,8/2/05,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Best In The Business Is Back In The Game.,Transporter 2,"[{'id': 779, 'name': 'martial arts'}, {'id': 1...","[{'cast_id': 1, 'character': 'Frank Martin', '...","[{'credit_id': '52fe44e9c3a36847f80b154d', 'de...",85167639
20,21,NaN,80000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,tt0120738,en,Lost in Space,The prospects for continuing life on Earth in ...,12.000579,...,4/3/98,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Danger, Will Robinson!",Lost in Space,"[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'cast_id': 26, 'character': 'Dr. Zachary Smi...","[{'credit_id': '52fe433bc3a36847f80448b9', 'de...",136159423
21,22,"[{'id': 9735, 'name': 'Friday the 13th Collect...",4000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt0083972,en,Friday the 13th Part III,An idyllic summer turns into a nightmare of un...,7.992290,...,8/13/82,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's nowhere to hide. We dare you to try.,Friday the 13th Part III,"[{'id': 1889, 'name': 'lake'}, {'id': 5767, 'n...","[{'cast_id': 1, 'character': 'Chris Higgins', ...","[{'credit_id': '52fe4523c3a36847f80be885', 'de...",36690067
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,7/28/12,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This collection is killer.,V/H/S,"[{'id': 6435, 'name': 'webcam'}, {'id': 9706, ...","[{'cast_id': 1, 'character': 'Gary', 'credit_i...","[{'credit_id': '52fe48ee9251416c9109d113', 'de...",100345
23,24,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",http://insightthemovie.com/,tt1687277,en,InSight,"Kaitlyn, an ER nurse who is tending to a young...",1.323333,...,9/2/11,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear what you see,InSight,NaN,"[{'cast_id': 1037, 'character': 'Det. Canto', ...","[{'credit_id': '52fe4980c3a368484e12e993', 'de...",17011
24,25,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",http://www.blacksheep-themovie.com/,tt0779982,en,Black Sheep,A genetic engineering experiment gone horribly...,7.434577,...,9/9/06,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,There are over 40 million sheep in New Zealand...,Black Sheep,"[{'id': 2658, 'name': 'new zealand'}, {'id': 3...","[{'cast_id': 9, 'character': 'Henry Oldfield',...","[{'credit_id': '52fe43a0c3a36847f8063031', 'de...",4947717
25,26,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,tt0104139,en,Dr. Giggles,"In 1957, Evan Rendell flees after his father i...",1.252367,...,10/23/92,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Doctor is out... of his mind.,Dr. Giggles,NaN,"[{'cast_id': 2, 'character': 'Dr. Evan Rendell...","[{'credit_id': '54b1fb3b925141144f000991', 'de...",8403433
26,27,NaN,10000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,tt0120176,en,The Spanish Prisoner,An employee of a corporation with a lucrative ...,4.305735,...,9/8/97,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's the oldest con in the book.,The Spanish Prisoner,"[{'id': 811, 'name': 'dialogue'}, {'id': 2246,...","[{'cast_id': 1, 'character': 'Jimmy Dell', 'cr...","[{'credit_id': '52fe45cfc3a368484e07017d', 'de...",13835130
27,28,NaN,11000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt1486834,en,What If,"Wallace, a medical school dropout, has been re...",10.841891,...,9/7/13,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...being friends has its benefits?,What If,"[{'id': 10556, 'name': 'male female relationsh...","[{'cast_id': 5, 'character': 'Wallace', 'credi...","[{'credit_id': '52fe4db4c3a368484e1f8003', 'de...",7847000
28,29,NaN,6000000,"[{'id': 16, 'name': 'Animation'}]",NaN,tt0092106,en,The Transformers: The Movie,The Autobots must stop a colossal planet-consu...,6.759181,...,8/8/86,84.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Beyond good. Beyond evil. Beyond your wildest ...,The Transformers: The Movie,"[{'id': 4290, 'name': 'toy'}, {'id': 4375, 'na...","[{'cast_id': 10, 'character': 'Hot Rod/Rodimus...","[{'credit_id': '52fe431bc3a36847f803ab1b', 'de...",5849647
29,30,NaN,45000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0264472,en,Changing Lanes,A rush-hour fender-bender on New York City's c...,7.818620,...,4/7/02,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"An ambitious lawyer, a desperate father, they ...",Changing Lanes,"[{'id': 242, 'name': 'new york'}, {'id': 4056,...","[{'cast_id': 1, 'character': 'Gavin Banek', 'c...","[{'credit_id': '52fe42fbc3a36847f80317d5', 'de...",94935764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,2971,NaN,25000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,tt0103855,en,The Bodyguard,A former Secret Service agent grudgingly takes...,9.805017,...,11/25/92,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never let her out of your sight. Never let you...,The Bodyguard,"[{'id': 1156, 'name': 'sister sister relations...","[{'cast_id': 17, 'character': 'Rachel Marron',...","[{'credit_id': '52fe425ec3a36847f8019133', 'de...",411006740
2971,2972,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,tt0100201,en,Mr. Destiny,Larry Burrows is unhappy and feels powerless o...,4.414928,...,10/12/90,110.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Larry Burrows Wished For It All... Until All T...,Mr. Destiny,"[{'id': 4896, 'name': 'wish'}]","[{'cast_id': 1, 'character': 'Larry Burrows', ...","[{'credit_id': '52fe4360c3a36847f804f873', 'de...",15379253
2972,2973,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0482930,cn,龍虎門,Dragon Tiger Gate is a 2006 Hong Kong martial ...,4.154861,...,7/27/06,94.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,Dragon Tiger Gate,"[{'id': 780, 'name': 'kung fu'}]","[{'cast_id': 1, 'character': 'Dragon Wong', 'c...","[{'credit_id': '52fe46869251416c7507b08f', 'de...",8685526
2973,2974,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,tt0089652,en,My Science Project,Michael and Ellie break into a military junkya...,3.868014,...,8/9/85,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We must not destroy the world.,My Science Project,"[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'cast_id': 1, 'character': ""Michael 'Mike' H...","[{'credit_id': '52fe476e9251416c75099025', 'de...",4122748
2974,2975,"[{'id': 149704, 'name': 'Alone in the Dark Col...",20000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,tt0369226,en,Alone in the Dark,Edward Carnby is a private investigator specia...,5.871243,...,1/28/05,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Can mankind defeat the army of darkness unleas...,Alone in the Dark,"[{'id': 703, 'name': 'detective'}, {'id': 1299...","[{'cast_id': 12, 'character': 'Edward Carnby',...","[{'credit_id': '52fe44bd9251416c7503f4f1', 'de...",10442808
2975,2976,NaN,45000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",http://www.aliensintheatticmovie.com/,tt0775552,en,Aliens in the Attic,"It's summer vacation, but the Pearson family k...",11.618472,...,7/31/09,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The aliens vs. the Pearsons,Aliens in the Attic,"[{'id': 9951, 'name': 'alien'}, {'id': 10267, ...","[{'cast_id': 4, 'character': 'Tom Pearson', 'c...","[{'credit_id': '537830e40e0a261425003dca', 'de...",57881056
2976,2977,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,tt0186045,en,Drowning Mona,The recently deceased Mona Dearly (Bette Midle...,4.372616,...,3/3/00,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The death of Mona Dearly wasn't so much a whod...,Drowning Mona,"[{'id': 3301, 'name': 'suspicion'}, {'id': 387...","[{'cast_id': 1, 'character': 'Chief Wyatt Rash...","[{'credit_id': '52fe44bbc3a368484e033ccf', 'de...",15427192
2977,2978,NaN,53000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://angeleyesmovie.warnerbros.com/index_nof...,tt0225071,en,Angel Eyes,A story about a seemingly unlikely couple who ...,5.396200,...,5/15/01,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The deeper you look, the more you will find.",Angel Eyes,"[{'id': 9844, 'name': 'car crash'}, {'id': 150...","[{'cast_id': 1, 'character': 'Sharon Pogue', '...","[{'credit_id': '52fe4427c3a36847f8085447', 'de...",29700000
2978,2979,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt0120879,en,Velvet Goldmine,Almost a decade has elapsed since Bowiesque gl...,16.529300,...,10/23/98,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Style matters. Even when it comes to murder.,Velvet Goldmine,"[{'id': 237, 'name': 'gay'}, {'id': 1025, 'nam...","[{'cast_id': 2, 'character': 'Curt Wild', 'cre...","[{'credit_id': '52fe4316c3a36847f803946d', 'de...",1053788
2979,2980,NaN,35000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.theback-upplan.com/,tt1212436,en,The Back-Up Plan,"When Zoe tires of looking for Mr. Right, she d...",6.629999,...,4/23/10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Fall in love, get married, have a baby. Not ne...",The Back-Up Plan,"[{'id': 5091, 'name': 'kiss'}, {'id': 5098, 'n...","[{'cast_id': 22, 'character': 'Zoe', 'credit_i...","[{'credit_id': '52fe457e9251416c91034559', 'de...",77477008
2980,2981,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,0.350207,...,2/4/16,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,"[{'id': 1252, 'name': 'suicide attempt'}, {'id...","[{'cast_id': 1, 'character': 'Sub-Inspector Bi...","[{'credit_id': '56b4d47f92514112b90045f6', 'de...",2500000
2981,2982,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt4158876,en,Other People,"David, a struggling comedy writer fresh off fr...",3.069108,...,9/9/16,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Other People,"[{'id': 234102, 'name': 'misfits'}]","[{'cast_id': 0, 'character': 'David', 'credit_...","[{'credit_id': '57d923309251415959005090', 'de...",93000
2982,2983,NaN,500000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2063781,en,Smashed,Kate and Charlie like to have a good time. The...,4.893812,...,9/12/12,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Smashed,NaN,"[{'cast_id': 1001, 'character': 'Kate Hannah',...","[{'credit_id': '557455c1c3a3686b7d003df7', 'de...",376597

In [216]:
train.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [217]:
X_train = train[['budget', 'popularity', 'runtime']]
X_test = train['revenue']

In [218]:
# preprocessing
bugdet_indices = np.argwhere(X_train['budget'] == 0).flatten()

bugdet_mean = X_train.budget.mean()
X_train.budget[indices] = bugdet_mean

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [219]:
null_features = X_train['runtime'].isnull()
np.any(null_features)
indeices = np.argwhere(null_features).ravel()

X_train.runtime[indeices] = X_train.runtime.mean()

In [87]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression(normalize=True)
lin_reg.fit(X_train, X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').